.contact {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    color: white;
  }
  
  .title {
    margin-bottom: 30px;
    text-align: left;
    color: white;
  }
  
  .contactContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .contactForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup label {
    margin-bottom: 5px;
    color: white;
  }
  
  .formGroup input,
  .formGroup textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
  }
  
  .formGroup input:focus,
  .formGroup textarea:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submitButton:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  
  .contactInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .infoItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icon {
    font-size: 20px;
    color: white;
  }

  .contactBack{
    background-image: url('../images/CB.jpg');
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }

  label{
    text-align: left;
  }
  
  @media (max-width: 768px) {
    .contactContainer {
      flex-direction: column;
    }
  
    .contactForm,
    .contactInfo {
      width: 100%;
    }
  }
  